.App h1 {
  font-family: "Nothing You Could Do", cursive;
  font-size: 60px;
  text-align: center;
  margin-top: 200px;
  color: whitesmoke;
}

.App p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: whitesmoke;
}

.App button {
  display: block;
  margin: 0 auto;
  padding: 8px 18px;
}

.App button:hover {
  background-color: rgba(11, 214, 241, 0.521);
  color: white;
}
